@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

body,
html {
  margin: 0;
  background-color: #080f29;
  color: #f4d367;
  font-family: "Open Sans", "sans-serif";
  scroll-behavior: smooth;
}
html {
  overflow-y: scroll;

}
